{% extends "bootstrap/base.html" %}

{%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{%- endblock metas %}

{% block scripts %}
{{super()}}
  <script>
    var index = 1;
    $(window).on('load', function(){
      liff.init(function (data) {});
    });
  </script>

  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $('#add').on('click', function() {
      var now = index-1;
      $('#form-body' + now).after('<div class="row" id="form-body'+ index +'" style="margin-top:10px;"></div>')
      $('#form-body'+index).append('<label for="choice'+ index +'">選択肢'+ (index+1) +'</label>')
      $('#form-body'+index).append('<input type="text" id="choice'+ index +'">')
      index += 1;
    });

    $('#btn').on('click', function() {
      var canvas = document.getElementById("cv");
      var ctx = canvas.getContext("2d");
      ctx.fillStyle = "white";//筆に白い絵の具をつけて
      ctx.fillRect(0,0,500,250);//四角を描く(背景を白にするため)
      var decide = Math.ceil(Math.random() * index)-1;
      console.log(decide);
      var text = $('#choice'+decide).val();
      ctx.font = "italic 60px Arial";
      ctx.fillStyle = "black";
      ctx.fillText(text,75,150);
      $.ajax({
        type: 'POST',
        url: '/saveimage',
        data: {
          'image': canvas.toDataURL('image/jpeg')
        },
        success: function (res, status) {
          liff.getProfile().then(function (profile) {
            liff.sendMessages([
              {
                type: 'image',
                originalContentUrl: 'https://' + document.domain + '/imgs/' + res + '.jpg',
                previewImageUrl: 'https://' + document.domain + '/imgs/' + res + '_240.jpg'
              }
            ]).then(function () {
              liff.closeWindow();
            }).catch(function (error) {
              window.alert('Error sending message: ' + error.message);
            });
          }).catch(function (error) {
              window.alert("Error getting profile: " + error.message);
          });
        },
        error: function (res) {
          window.alert('Error saving image: ' + res.status);
        },
        complete: function(data) {
        }
      });
    });
  </script>
{% endblock %}

{% block title %}決断くん{% endblock %}

{% block content %}
  <div class="container" id="form">
    <div class="row" id="form-body0" style="margin-top:10px;">
      <label for="choice0">選択肢1</label>
      <input type="text" id="choice0">
    </div>
    <button id="add" type="button" class="btn btn-info btn-block">選択肢追加</button>
  </div>
  <div class="container">
    <button id="btn" type="button" class="btn btn-primary btn-block">決断！！</button>
    <canvas id="cv" width="500" height="250"></canvas>
  </div>
{% endblock %}
